# Git
.git
.gitignore

# Node
**/node_modules
npm-debug.log

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.env
.venv

# Frontend build artifacts
frontend/node_modules
frontend/dist
frontend/.next

# VS Code
.vscode

# OS
.DS_Store

# Docker
Dockerfile
docker-compose.yml
