apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "2"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"detector-backend","namespace":"default"},"spec":{"replicas":3,"selector":{"matchLabels":{"app":"detector-backend"}},"template":{"metadata":{"labels":{"app":"detector-backend"}},"spec":{"containers":[{"image":"ridham6422/ai-content-detector-backend:latest","imagePullPolicy":"Always","name":"backend","ports":[{"containerPort":5149}]}]}}}}
  generation: 3
  name: detector-backend
  namespace: default
spec:
  progressDeadlineSeconds: 600
  replicas: 3
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: detector-backend
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/restartedAt: "2026-01-16T14:49:47-06:00"
      labels:
        app: detector-backend
    spec:
      containers:
      - image: ridham6422/ai-content-detector-backend:latest
        imagePullPolicy: Always
        name: backend
        ports:
        - containerPort: 5149
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
